## HDFC Bank ML Hiring Challenge'19

<html>
    <p><img src="Problem-1.JPG" alt="ML Hiring Challenge'19-1"/>
    <img src="Problem-2.JPG" alt="ML Hiring Challenge'19-2"/>
    <img src="Problem-3.JPG" alt="ML Hiring Challenge'19-3"/></p>
    </html>

### Importing necessary libraries

In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier
scaler = StandardScaler()

### Importing train and test data

In [6]:
train_orig = pd.read_csv('Train.csv')
test_orig = pd.read_csv('Test.csv')

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (746,835) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (700,731,740,752,761,789,811,820,829,841,850) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
train_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17521 entries, 0 to 17520
Columns: 2395 entries, Col1 to Col2397
dtypes: float64(844), int64(1548), object(3)
memory usage: 320.2+ MB

In [8]:
test_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20442 entries, 0 to 20441
Columns: 2394 entries, Col1 to Col2397
dtypes: float64(837), int64(1545), object(12)
memory usage: 373.4+ MB

In [9]:
train_orig.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,RIGHGSN,1,1.086711e+04,8.648345e+03,1.576618e+04,2.890466e+04,5.273655e+03,2.346153e+04,1.285597e+04,2.871509e+04,...,0,1,0,1,214.0,214.0,68.0,22.0,22.0,7.0
1,RIMHI5ZGP,0,2.584312e+05,2.179633e+05,1.866287e+05,1.866287e+05,2.154519e+05,1.923615e+05,1.726538e+05,1.666974e+05,...,0,0,0,0,41.0,41.0,38.0,12.0,12.0,11.0
2,RIHOG1SZU,0,1.459355e+07,1.260060e+07,1.100315e+07,1.010315e+07,1.879882e+07,1.514035e+07,5.320778e+06,6.906324e+06,...,0,1,1,0,378.0,378.0,310.0,21.0,21.0,16.0
3,RIHOLMQWU,0,6.727043e+05,8.181116e+05,6.794893e+05,6.794893e+05,8.257254e+05,7.605803e+05,3.577134e+05,4.236612e+05,...,0,0,0,0,702.0,702.0,644.0,951.0,951.0,743.0
4,RIHO584ET,0,-1.218742e+06,-3.005361e+06,-1.666241e+05,-2.403574e+06,2.583183e+06,2.086546e+06,5.938358e+06,5.446532e+06,...,0,0,0,0,1305.0,1305.0,1211.0,2205.0,2205.0,1831.0

In [10]:
test_orig.head()

,Col1,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,RIGD58ZWD,8.167140e+04,8.614542e+04,7.532296e+04,7.532296e+04,1.125174e+05,1.002778e+05,2.038915e+04,3.053853e+04,8.395911e+04,...,0,0,0,0,44.0,44.0,23.0,41.0,41.0,36.0
1,RIH660YDS,-1.362824e+07,-4.493043e+06,-3.777257e+06,-4.493043e+06,-4.749764e+06,-4.749764e+06,1.147556e+07,1.147556e+07,1.272055e+07,...,1,1,2,2,1234.0,1234.0,680.0,154.0,153.0,86.0
2,RIH660Q96,1.302700e+06,1.341449e+06,1.240085e+06,1.341449e+06,1.477503e+06,1.477503e+06,3.904086e+05,3.904086e+05,4.979106e+05,...,0,0,0,0,33.0,24.0,19.0,3.0,1.0,1.0
3,RIYDO15W1,1.932258e+05,1.454433e+05,1.929148e+05,1.454433e+05,1.318250e+04,1.318250e+04,8.650108e+04,8.650108e+04,5.896693e+03,...,0,0,0,0,8.0,8.0,3.0,7.0,7.0,3.0
4,RIYBGC1ZD,3.913385e+05,1.987337e+05,1.703432e+05,1.987337e+05,3.046536e+05,3.046536e+05,2.528307e+05,2.528307e+05,3.034449e+05,...,0,0,0,0,7.0,7.0,7.0,6.0,6.0,5.0

In [11]:
# 3 Categorial features in train data and 12 categorial features in test data
#Total number of columns in train data is 2395
#Total number of columns in test data is 2394
# Labelled column in train data is "Col2" and ID column is "Col1"
# ID column in test data is "Col1"

### Target variable distribution in training data

In [12]:
train_orig.Col2.value_counts()

0    15760
1     1761
Name: Col2, dtype: int64

In [13]:
# Clearly we've biased data as the output with "1" is only 10% of total data

### Handling NaNs

#### Train  NaNs

In [14]:
#temporary dataframe to handle NaNs
withNan_df = train_orig.loc[:, train_orig.isna().any()]

In [15]:
withNan_df.head()

,Col13,Col14,Col15,Col16,Col17,Col18,Col19,Col20,Col21,Col22,...,Col930,Col931,Col932,Col933,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,9.293496,8.570479,10.063117,10.271758,0.548538,0.403366,NaN,NaN,1.486524,1.728324,...,NaN,0.000000,0.000000,0.000000,214.0,214.0,68.0,22.0,22.0,7.0
1,12.462385,12.280493,12.167132,12.136876,1.167898,2.676398,NaN,NaN,0.792123,0.934556,...,1.0,0.306122,0.306122,0.326087,41.0,41.0,38.0,12.0,12.0,11.0
2,16.496090,16.749305,16.532874,16.128357,1.145182,2.203874,NaN,NaN,0.422264,0.498347,...,NaN,0.740458,0.740458,0.794749,378.0,378.0,310.0,21.0,21.0,16.0
3,13.419061,13.624018,13.541837,13.429097,1.204010,0.536304,NaN,NaN,0.437243,0.521341,...,NaN,0.502662,0.502662,0.465228,702.0,702.0,644.0,951.0,951.0,743.0
4,NaN,14.764533,14.551021,NaN,NaN,NaN,NaN,NaN,NaN,1.344637,...,4.0,0.532091,0.532091,0.442589,1305.0,1305.0,1211.0,2205.0,2205.0,1831.0

In [16]:
def get_percentage_missing(series):
    """ Calculates percentage of NaN values in DataFrame
    :param series: Pandas DataFrame object
    :return: float
    """
    num = series.isnull().sum()
    den = len(series)
    return round(num/den, 2)

# Iterate over columns in DataFrame and delete those where >30% of the values are null/NaN
count = 0
nanCols = []
for name, values in withNan_df.iteritems():
    #print("%r: %r" % (name, values) )
    if get_percentage_missing(withNan_df[name]) > 0.3:
        count+=1
        nanCols.append(name)
        #print("Deleting Column %r: " % (name) )
        
        #withNan_df.drop(name, axis=1, inplace=True)
train_orig.drop(nanCols, inplace=True, axis=1)
print("Total deleted columns: ",count)

Total deleted columns:  261

In [17]:
#Replacing rest of the columns containing NaNs with corresponding Mean
train_temp = train_orig.fillna(train_orig.mean())

#### Test Data NaNs

In [18]:
# Dropping columns  where >30% of the values are null/NaN from test data as well
test_orig.drop(nanCols, inplace=True, axis=1)

In [19]:
#Replacing columns containing NaNs with corresponding Mean
test_temp = test_orig.fillna(test_orig.mean())

### Handling Categorical Variables - Train and Test Data

In [20]:
#Train data
train_obj_features = [];
for feature in train_temp.columns:
    if(train_temp[feature].dtype == 'object'):
        print('feature: ', feature)
        train_obj_features.append(feature)

feature:  Col1

In [21]:
train_temp.loc[:,train_obj_features]

            Col1
0        RIGHGSN
1      RIMHI5ZGP
2      RIHOG1SZU
3      RIHOLMQWU
4      RIHO584ET
...          ...
17516    M9ERLMQ
17517    M1W6L8S
17518    MD5BL5K
17519    MYLOQ8Y
17520    M2YK6ON

[17521 rows x 1 columns]

In [22]:
train_temp.loc[:,train_obj_features].isna().sum()

Col1    0
dtype: int64

In [23]:
#Clearly there are no categorical featured with NaNs in train data & Col1 is ID column

In [24]:
#Test data
test_obj_features = []
for feature in test_temp.columns:
    if(test_temp[feature].dtype == 'object'):
        print('feature: ', feature)
        test_obj_features.append(feature)

feature:  Col1

In [25]:
test_temp.loc[:,test_obj_features].isna().sum()

Col1    0
dtype: int64

In [26]:
# As we can notice from the above, there are no categorical variables with missing info in train and test data

In [27]:
len(train_temp.Col1.unique()) # All IDs are unique, no action required

17521

In [28]:
len(test_temp.Col1.unique()) # All IDs are unique, no action required

20442

In [29]:
len(train_temp.columns)

2134

In [30]:
len(train_orig.columns)

2134

### Correlation within features and with target variable

In [31]:
y = train_temp['Col2']
#Removing categorical ID column
X = train_temp.drop(['Col1'], axis=1)

In [32]:
# compare the correlation between features and remove one of two features that have a correlation higher than 0.9
import numpy as np
corr = abs(X.corr())
columns = np.full((corr.shape[0],), True, dtype=bool)
columns
for i in range(corr.shape[0]):
    for j in range(i+1, corr.shape[0]):
        if corr.iloc[i,j] >= 0.9:
            if columns[j]:
                columns[j] = False
selected_columns = X.columns[columns]
# #vehicle_cleaned_df_new = vehicle_cleaned_df[selected_columns]
selected_columns

Index(['Col2', 'Col3', 'Col9', 'Col13', 'Col14', 'Col17', 'Col18', 'Col21',
       'Col22', 'Col23',
       ...
       'Col1383', 'Col1386', 'Col1387', 'Col1388', 'Col1389', 'Col1527',
       'Col1575', 'Col1589', 'Col1617', 'Col1631'],
      dtype='object', length=427)

In [33]:
#Correlation with the output variable
cor_target = abs(corr["Col2"])
#Selecting highly correlated features
relevant_features = cor_target[cor_target>0.1]
relevant_features.index
#

Index(['Col2', 'Col13', 'Col14', 'Col15', 'Col16', 'Col51', 'Col59', 'Col125',
       'Col127', 'Col133', 'Col135', 'Col162', 'Col164', 'Col166', 'Col176',
       'Col178', 'Col180', 'Col183', 'Col186', 'Col193', 'Col231', 'Col234',
       'Col240', 'Col243', 'Col300', 'Col319', 'Col330', 'Col380', 'Col383',
       'Col390', 'Col428', 'Col430', 'Col431', 'Col437', 'Col440', 'Col497',
       'Col516', 'Col527', 'Col577', 'Col579', 'Col586', 'Col614', 'Col624',
       'Col626', 'Col627', 'Col633', 'Col636', 'Col647', 'Col677', 'Col874',
       'Col875', 'Col876', 'Col877', 'Col892', 'Col901', 'Col910', 'Col913',
       'Col914', 'Col915', 'Col931', 'Col932', 'Col933', 'Col1322', 'Col1323',
       'Col1364', 'Col1365', 'Col1386', 'Col1412', 'Col1413', 'Col1454',
       'Col1455', 'Col1476', 'Col1502', 'Col1503', 'Col1544', 'Col1545',
       'Col1566', 'Col1592', 'Col1593', 'Col1634', 'Col1656', 'Col2052',
       'Col2053', 'Col2094', 'Col2095', 'Col2116', 'Col2142', 'Col2143',
       'Col2184', 'Col2185', 'Col2232', 'Col2233', 'Col2274', 'Col2275',
       'Col2322', 'Col2323', 'Col2364'],
      dtype='object')

In [34]:
# Common important features
final_features= pd.Series(list(set(selected_columns).intersection(set(relevant_features.index))))

In [35]:
#Removing the target column
# iterate over all the elements 
for items in final_features.iteritems(): 
    if(items[1] == 'Col2'):
        print(items[1]) 
        final_features = final_features.drop(items[0])

Col2

In [36]:
X = train_temp[final_features]

In [37]:
X.shape

(17521, 35)

In [38]:
#Applying the same columns to test data
X_test = test_temp[final_features]
#Appending ID Column
Col1 = test_temp['Col1']

### Train & Validation Split

In [39]:
X_train,X_val,y_train,y_val = train_test_split(X, y, test_size=0.20, random_state=1)

In [40]:
#converting Series to frame as sklearn standardscalar accepts only frames
y_train = y_train.to_frame()
y_val = y_val.to_frame()
print(X_train.shape)
print(X_val.shape)
print(y_train.shape)
print(y_val.shape)

(14016, 35)
(3505, 35)
(14016, 1)
(3505, 1)

### Scale the data

In [41]:
X_train = scaler.fit_transform(X_train)
X_val = scaler.fit_transform(X_val)

In [42]:
X_test = scaler.transform(X_test)

### Using Gradient Boosting Classifier

In [518]:
from sklearn.ensemble import GradientBoostingClassifier
gbcl = GradientBoostingClassifier(n_estimators = 50, random_state=1)
gbcl = gbcl.fit(X_train, y_train)

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [519]:
gbcl.score(X_val,y_val)

0.9004279600570614

In [520]:
y_pred_gbcl = gbcl.predict(X_test)
data = pd.DataFrame(columns=['Col1','Col2'])
data['Col1'] = Col1
data['Col2'] = y_pred_gbcl
data.to_csv("GradientBoostingClassifier.csv", index = False ) # Saving the output in to an excel
#print(test_orig['loan_id'])

### Using XGBoost

In [43]:
# fit model on training data
xgb_model = XGBClassifier()
xgb_model.fit(X_train, y_train)

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [44]:
# make predictions for test data
xgb_model.score(X_val,y_val)
#predictions = [round(value) for value in y_pred]

0.9007132667617689

In [46]:
y_pred_xgb = xgb_model.predict(X_test)
predictions_xgb = [round(value) for value in y_pred_xgb]
data = pd.DataFrame(columns=['Col1','Col2'])
data['Col1'] = Col1
data['Col2'] = predictions_xgb
data.to_csv("XGBoost.csv", index = False ) # Saving the output in to an excel

### Using LGB

In [253]:
import lightgbm as lgb

In [254]:
lgb_train = lgb.Dataset(X_train, y_train)
lgb_eval = lgb.Dataset(X_val, y_val, reference=lgb_train)

In [500]:
params = {
        'task': 'train',
        'objective': 'binary',
        'metric': 'binary_logloss',
        'boosting_type': 'dart',    
        'learning_rate': 0.12,      
        'max_depth': 10,            
        'min_data_in_leaf': 5,      
        'max_bin' : 2,            
        'num_leaves' : 64,         
        'num_iteration': 100,       
        'verbose': 1
}

In [501]:
gbm = lgb.train(params,
            lgb_train,
            num_boost_round=50,       
            early_stopping_rounds=15, 
            valid_sets=[lgb_train,lgb_eval],
            valid_names=['train', 'eval'])

[1]	train's binary_logloss: 0.308901	eval's binary_logloss: 0.319192
[2]	train's binary_logloss: 0.297631	eval's binary_logloss: 0.315132
[3]	train's binary_logloss: 0.288017	eval's binary_logloss: 0.310958
[4]	train's binary_logloss: 0.280103	eval's binary_logloss: 0.307868
[5]	train's binary_logloss: 0.272578	eval's binary_logloss: 0.306247
[6]	train's binary_logloss: 0.26576	eval's binary_logloss: 0.304201
[7]	train's binary_logloss: 0.260184	eval's binary_logloss: 0.302992
[8]	train's binary_logloss: 0.262723	eval's binary_logloss: 0.303212
[9]	train's binary_logloss: 0.257537	eval's binary_logloss: 0.302014
[10]	train's binary_logloss: 0.25235	eval's binary_logloss: 0.301436
[11]	train's binary_logloss: 0.247584	eval's binary_logloss: 0.300183
[12]	train's binary_logloss: 0.249247	eval's binary_logloss: 0.300601
[13]	train's binary_logloss: 0.244296	eval's binary_logloss: 0.299613
[14]	train's binary_logloss: 0.239919	eval's binary_logloss: 0.299029
[15]	train's binary_logloss: 0.235854	eval's binary_logloss: 0.298458
[16]	train's binary_logloss: 0.232103	eval's binary_logloss: 0.297778
[17]	train's binary_logloss: 0.227865	eval's binary_logloss: 0.298138
[18]	train's binary_logloss: 0.223922	eval's binary_logloss: 0.29804
[19]	train's binary_logloss: 0.219929	eval's binary_logloss: 0.29829
[20]	train's binary_logloss: 0.216344	eval's binary_logloss: 0.299115
[21]	train's binary_logloss: 0.217416	eval's binary_logloss: 0.298625
[22]	train's binary_logloss: 0.213981	eval's binary_logloss: 0.298695
[23]	train's binary_logloss: 0.210464	eval's binary_logloss: 0.299151
[24]	train's binary_logloss: 0.207102	eval's binary_logloss: 0.299828
[25]	train's binary_logloss: 0.204224	eval's binary_logloss: 0.300239
[26]	train's binary_logloss: 0.201213	eval's binary_logloss: 0.300127
[27]	train's binary_logloss: 0.198558	eval's binary_logloss: 0.300147
[28]	train's binary_logloss: 0.199528	eval's binary_logloss: 0.300061
[29]	train's binary_logloss: 0.196859	eval's binary_logloss: 0.300782
[30]	train's binary_logloss: 0.194255	eval's binary_logloss: 0.301108
[31]	train's binary_logloss: 0.194268	eval's binary_logloss: 0.301397
[32]	train's binary_logloss: 0.191541	eval's binary_logloss: 0.301004
[33]	train's binary_logloss: 0.189252	eval's binary_logloss: 0.301065
[34]	train's binary_logloss: 0.187026	eval's binary_logloss: 0.300888
[35]	train's binary_logloss: 0.188348	eval's binary_logloss: 0.300338
[36]	train's binary_logloss: 0.190373	eval's binary_logloss: 0.30011
[37]	train's binary_logloss: 0.18774	eval's binary_logloss: 0.300208
[38]	train's binary_logloss: 0.184663	eval's binary_logloss: 0.300608
[39]	train's binary_logloss: 0.181989	eval's binary_logloss: 0.300592
[40]	train's binary_logloss: 0.181428	eval's binary_logloss: 0.300602
[41]	train's binary_logloss: 0.183018	eval's binary_logloss: 0.300414
[42]	train's binary_logloss: 0.18089	eval's binary_logloss: 0.300179
[43]	train's binary_logloss: 0.182205	eval's binary_logloss: 0.300063
[44]	train's binary_logloss: 0.18005	eval's binary_logloss: 0.299725
[45]	train's binary_logloss: 0.177745	eval's binary_logloss: 0.299886
[46]	train's binary_logloss: 0.182488	eval's binary_logloss: 0.30047
[47]	train's binary_logloss: 0.180047	eval's binary_logloss: 0.299754
[48]	train's binary_logloss: 0.179718	eval's binary_logloss: 0.299519
[49]	train's binary_logloss: 0.181218	eval's binary_logloss: 0.299024
[50]	train's binary_logloss: 0.182779	eval's binary_logloss: 0.298716
[51]	train's binary_logloss: 0.180379	eval's binary_logloss: 0.298875
[52]	train's binary_logloss: 0.178213	eval's binary_logloss: 0.29861
[53]	train's binary_logloss: 0.179336	eval's binary_logloss: 0.298628
[54]	train's binary_logloss: 0.177175	eval's binary_logloss: 0.298476
[55]	train's binary_logloss: 0.175099	eval's binary_logloss: 0.298719
[56]	train's binary_logloss: 0.176646	eval's binary_logloss: 0.298543
[57]	train's binary_logloss: 0.174592	eval's binary_logloss: 0.298488
[58]	train's binary_logloss: 0.181271	eval's binary_logloss: 0.301233
[59]	train's binary_logloss: 0.182724	eval's binary_logloss: 0.301188
[60]	train's binary_logloss: 0.17976	eval's binary_logloss: 0.300392
[61]	train's binary_logloss: 0.188696	eval's binary_logloss: 0.306816
[62]	train's binary_logloss: 0.184857	eval's binary_logloss: 0.304812
[63]	train's binary_logloss: 0.181506	eval's binary_logloss: 0.303042
[64]	train's binary_logloss: 0.182537	eval's binary_logloss: 0.30275
[65]	train's binary_logloss: 0.18387	eval's binary_logloss: 0.302663
[66]	train's binary_logloss: 0.180785	eval's binary_logloss: 0.301355
[67]	train's binary_logloss: 0.177882	eval's binary_logloss: 0.300143
[68]	train's binary_logloss: 0.17502	eval's binary_logloss: 0.299526
[69]	train's binary_logloss: 0.176192	eval's binary_logloss: 0.299443
[70]	train's binary_logloss: 0.176907	eval's binary_logloss: 0.299394
[71]	train's binary_logloss: 0.177764	eval's binary_logloss: 0.2991
[72]	train's binary_logloss: 0.175307	eval's binary_logloss: 0.298532
[73]	train's binary_logloss: 0.172898	eval's binary_logloss: 0.297906
[74]	train's binary_logloss: 0.17399	eval's binary_logloss: 0.297812
[75]	train's binary_logloss: 0.171757	eval's binary_logloss: 0.297664
[76]	train's binary_logloss: 0.171878	eval's binary_logloss: 0.297747
[77]	train's binary_logloss: 0.17282	eval's binary_logloss: 0.297708
[78]	train's binary_logloss: 0.173815	eval's binary_logloss: 0.297772
[79]	train's binary_logloss: 0.171756	eval's binary_logloss: 0.297277
[80]	train's binary_logloss: 0.169452	eval's binary_logloss: 0.297365
[81]	train's binary_logloss: 0.17051	eval's binary_logloss: 0.297289
[82]	train's binary_logloss: 0.168496	eval's binary_logloss: 0.297206
[83]	train's binary_logloss: 0.169749	eval's binary_logloss: 0.29702
[84]	train's binary_logloss: 0.170933	eval's binary_logloss: 0.296839
[85]	train's binary_logloss: 0.172106	eval's binary_logloss: 0.296794
[86]	train's binary_logloss: 0.169721	eval's binary_logloss: 0.296334
[87]	train's binary_logloss: 0.167602	eval's binary_logloss: 0.296251
[88]	train's binary_logloss: 0.169001	eval's binary_logloss: 0.296247
[89]	train's binary_logloss: 0.169956	eval's binary_logloss: 0.296246
[90]	train's binary_logloss: 0.17112	eval's binary_logloss: 0.296301
[91]	train's binary_logloss: 0.175777	eval's binary_logloss: 0.298442
[92]	train's binary_logloss: 0.173288	eval's binary_logloss: 0.297282
[93]	train's binary_logloss: 0.170833	eval's binary_logloss: 0.296743
[94]	train's binary_logloss: 0.172043	eval's binary_logloss: 0.296874
[95]	train's binary_logloss: 0.172987	eval's binary_logloss: 0.29686
[96]	train's binary_logloss: 0.173994	eval's binary_logloss: 0.296852
[97]	train's binary_logloss: 0.171682	eval's binary_logloss: 0.296166
[98]	train's binary_logloss: 0.172693	eval's binary_logloss: 0.296116
[99]	train's binary_logloss: 0.170442	eval's binary_logloss: 0.296317
[100]	train's binary_logloss: 0.168202	eval's binary_logloss: 0.296934

In [502]:
#Prediction
y_pred_val_lgb=gbm.predict(X_val)
y_pred_train_lgb=gbm.predict(X_train)
#convert into binary values
#Val Data
for i in range(0,X_val.shape[0]):
    if y_pred_val_lgb[i]>=.5:       # setting threshold to .5
       y_pred_val_lgb[i]=1
    else:  
       y_pred_val_lgb[i]=0

#Train Data    
for i in range(0,X_train.shape[0]):
    if y_pred_train_lgb[i]>=.5:       # setting threshold to .5
       y_pred_train_lgb[i]=1
    else:  
       y_pred_train_lgb[i]=0

#Confusion matrix
print(confusion_matrix(y_val, y_pred_val_lgb))
#Accuracy
print(accuracy_score(y_pred_val_lgb,y_val))

[[3133   18]
 [ 339   15]]
0.8981455064194008

In [503]:
#Accuracy on training data
print(accuracy_score(y_pred_train_lgb,y_train))
print(confusion_matrix(y_train, y_pred_train_lgb))

0.9404965753424658
[[12609     0]
 [  834   573]]

In [504]:
#Prediction on test data
y_pred_lgb=gbm.predict(X_test)
#convert into binary values
for i in range(0,X_test.shape[0]):
    if y_pred_lgb[i]>=.5:       # setting threshold to .5
       y_pred_lgb[i]=1
    else:  
       y_pred_lgb[i]=0

In [505]:
data = pd.DataFrame(columns=['Col1','Col2'])
data['Col1'] = Col1
data['Col2'] = y_pred_lgb
data.to_csv("GradientBoostingClassifier_LGB.csv", index = False ) # Saving the output in to an excel
#print(test_orig['loan_id'])